  <div class="banner">
    <div class="container">
      <h1>Los mejores <strong>restaurantes</strong> del mundo <strong>los encuentras en Restaurantes YA!</strong></h1>
      <p>Se parte de los miles de restaurantes que llegan a nuestros usuarios.</p>
      <a class="btn btn-flat" href="#">Registrate ahora!</a>
    </div>
  </div>

<div class="container">
  <div id="header">
    <h1>Restaurantes YA!</h1>
    <p>Las mejores comidas del mundo</p>
  </div>
  <div class="row">
    <% @foods.sample(3).each do |food| %>
      <div class="col-4">
        <div class="card">
          <div class="card-image">
            <%= image_tag food.photo %>
          </div>
          <div class="card-text">
            <p class="card-meal-type"> <%= food.name %> </p>
            <h2 class="card-title"> <%= food.restaurant.name %> </h2>
            <p class="card-body"> <%= food.description %> </p>
          </div>
          <div class="card-price"> <%= number_to_currency(food.price, delimiter: ".", precision: 0, unit: "ARS $") %> </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-last-restaurant">
  <div id="header">
    <h1>Ultimos Restaurantes Agregados</h1>
  </div>
  <div class="row mb-4">
    <% @foods.last(3).each do |food| %>
      <div class="col-4">
        <section class="articles">
          <article>
            <div class="article-wrapper">
              <figure>
                <%= image_tag food.restaurant.photo %>
              </figure>
              <div class="article-body">
                <h2> <%= food.restaurant.name.truncate(8) %> </h2>
                <p> <%= food.restaurant.description.truncate(15) %> </p>
                <a href="/restaurants/<%= food.restaurant.id %>"  class="read-more">
                  Saber mas <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </section>
      </div>
    <% end %>
  </div>
</div>
