<div class="container w-50 bg-white mt-5 p-3 shadow-lg rounded border">
  <div class="row">
    <div class="col">
      <%= form_with model: @restaurant do |f| %>
        <%= f.label :Nombre, calss: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :Descripción, calss: "form-label" %>
        <%= f.text_field :description, class: "form-control" %>
        <%= f.label :Imagen, calss: "form-label" %>
        <%= f.file_field :photo, class: "form-control" %>
        <%= f.submit "Crear", class: "btn-foods-1 mt-3" %> <%= link_to "Volver", foods_path, class: "btn-foods mt-3" %>
      <% end %>
    </div>
  </div>
</div>
